

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* blockquote, q { 
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
} */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==================================
==================================
*/

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

/* ======================
  Header
======================= */

.hero {
  color: white;
  background-color: #1f2937;
  display: flex;
  padding: 22px 33px;
  border: 2px solid black;
  flex-wrap: wrap;
}

.header {
  display: flex;
}

.bike {
  width: 44px;
  margin-right: auto;
  border: 2px solid black;
}

.list {
  display: flex;
}

.link {
  display: flex;
  margin: 11px;
  align-items: flex-end;
  border: 2px solid black;
}

.text {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  border: 2px solid black;
  align-items: center;
}

.photo {
  max-width: 50%;
  margin: 44px;
}

.title {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
}

.words {
  border: 2px solid black;
}

.chrome {
  display: flex;
  max-width: 100%;
  border-radius: 22px;
  /* object-fit: contain; */
}

.button {
  width: 111px;
  color: white;
  background-color: #3882f6;
  padding: 8px;
  border-radius: 6px;
  margin: 22px;
  border: 2px solid black;
}

/* ======================
  Links
======================= */

a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.words a {
  font-size: inherit;
  text-decoration: underline;
}

a:hover {
  color: #3882f6;
}

a:focus {
  text-decoration: underline;
  color: #3882f6;
}

/* =====================
    Card Section
===================== */

.cards {
  display: flex;
  font-size: 33px;
  font-weight: bold;
  min-height: 388px;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
}

.random {
  padding: 44px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card {
  background-color: white;
  display: flex;
  margin: 22px 22px;
  max-width: 222px;
  height: 333px;
  border-radius: 33px;
  flex: 1 0 100%;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
  justify-content: center;
  border-collapse: collapse;
}

.card img {
  width: 222px;
  height: auto;
  border-radius: 33px;
}

.card img:hover {
  color: green;
  height: auto;
  width: 211px;
  border-radius: 33px;
}

/* =====================
    Quote Section
===================== */

.quote {
  background-color: #e5e7eb;
  height: 222px;
  padding: 88px 0;
  font: italic 100 33px Roboto, sans-serif;
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

blockquote {
  padding: 0 33px;
  max-width: 33rem;
  margin: 0 auto;
}

.quote p.cite {
  font: normal bold 22px Roboto, sans-serif;
  text-align: end;
  margin: 12px 22px 0 0;
}


/* =====================
    Call to Action
===================== */

.call {
  display: flex;
  height: 18em;
}

.call-to-action {
  background: #3882f6;
  color: white;
  height: 11em;
  width: 75%;
  margin: 55px auto;
}

.its-time {
  font-size: 2em;
  font-weight: 700;
}



/* =====================
    Footer
===================== */

.footer {
  color: #e5e7eb;
  background-color: #1f2937;
  padding: 22px;
  flex-wrap: wrap;
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
 transform: scaleX(-1);
}

.creative-commons{
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  display: inline-block;
  line-height: 2em;
  text-align: center;
  font-size: 1em;
 }